.inner {
    position: relative;
    width: 1200px;
    margin: 0 auto;
}




.cover {
    position: fixed;
    inset: 0 0 0 0;
    background: #ffffff2c;
    backdrop-filter: blur(10px);
    color: #fff;
    z-index: 998;

    display: flex;

    display: none;
    overflow: hidden;
    transition: 1s;
}

.cover ul {
    padding-top: 150px;
    line-height: 100px;
}

.cover ul>li {
    display: block;
    text-align: center;


    font-size: 30px;
    font-weight: 700;
    color: #000;
}

.cover.on {
    display: block;
}

.mopen {
    position: fixed;
    inset: auto auto auto auto;
    z-index: 999;
    width: 30px;
    height: 30px;
}

.mopen::before,
.mopen::after {
    content: "";
    position: absolute;
    height: 2px;
    background: #fff;
    transition: 0.3s;
}

.mopen::before {
    inset: 5px 5px auto 5px;
}

.mopen::after {
    inset: auto 5px 5px 5px;
}

.mopen button {
    font-size: 0;
    border: none;
    outline: none;
    background: transparent;
}



.mopen button::before,
.mopen button::after {
    content: "";
    position: absolute;
    inset: 50% 5px auto 5px;
    height: 2px;
    background: #fff;
    transition: 0.3s;
}

.mopen button::before {
    transform: translate(0, -50%);
}

.mopen button::after {
    transform: translate(0, -50%);
}


.mopen.on::before {
    opacity: 0;

}

.mopen.on::after {
    opacity: 0;
}

.mopen.on button::before {
    transform: translate(0, -50%) rotate(45deg);
}

.mopen.on button::after {
    transform: translate(0, -50%) rotate(-45deg);
}










#header {
    position: relative;
    line-height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: 0.5s;
    z-index: 999;
    color: #ffffffcb;
}

#header.on {
    line-height: 100px;
    background: #ffffffcb;
    color: #333333;
}

#header h1 img {
    width: 108px;
}

#header .inner {
    display: flex;
    justify-content: space-between;
}

#header nav>ul {
    display: flex;
    gap: 60px;
}

#header i {
    font-size: 25px;
    margin: 0 5px;
}

nav.on {
    display: none;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.link i {
    margin-right: 100px;
}

/* MOBILE RESPONSIVE HEADER */

@media (max-width:768px) {
    button {
        display: block;
    }

    #header nav {
        display: none;
    }


    #header h1 img {

        width: 108px;
    }




    .mopen {
        position: fixed;
        inset: 10px auto 5px auto;
        z-index: 999;
        width: 30px;
        height: 30px;
    }

}








/* mainVisual */

.mainVisual .mainSlide figure {
    position: relative;
    height: 100vh;
}

.mainVisual .mainSlide .inner {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.mainVisual .mainSlide h2 {
    font-size: 40px;
    font-weight: 700;
    text-shadow: 0 0 1px #000;
    margin: 0 0 15px 0;
}

.mainVisual .mainSlide p {
    font-size: 20px;
}

.mainVisual .main_slide .itm h2 {
    transform: translate(0, 100px);

}

.mainVisual .main_slide .itm.on h2 {
    transform: translate(0, 0);
    transition: 0.5s;
}

.mainVisual .main_slide .itm p {
    opacity: 0;
    transform: translate(0, 100px);
}


.mainVisual .main_slide .itm.on p {
    opacity: 1;
    transform: translate(0, 0);
    transition: 0.5s 0.5s;
}



.mainVisual .mainSlide .itm01 {
    background: url(../img/main01.jpg)no-repeat center center/cover;
}

.mainVisual .mainSlide .itm02 {
    background: url(../img/main02.jpg)no-repeat center center/cover;
}

.mainVisual .mainSlide .itm03 {
    background: url(../img/main03.jpg)no-repeat center center/cover;
}

.mainVisual .mainSlide .itm04 {
    background: url(../img/main04.jpg)no-repeat center center/cover;
}

.mainVisual .mainSlide .itm05 {
    background: url(../img/main05.jpg)no-repeat center center/cover;
}

.mainVisual .mainSlide .slick-dots {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%, 0);
}

.mainVisual .mainSlide .slick-dots>li {
    display: inline-block;
    width: 150px;
    height: 2px;
    background: #ffffff65;
    margin: 1px;
}

.mainVisual .mainSlide .slick-dots>li.slick-active {
    background: #fff;
}

.mainVisual .mainSlide .slick-dots>li button {
    display: none;
}



/* MOBILE RESPONSIVE VERSION CONTENT(MAINVISUAL) */

@media only screen and (max-width: 768px) {
    .mainVisual .mainSlide .itm01 {
        background: url(../img/main01_mo.jpg)no-repeat center center/cover;
    }

    .mainVisual .mainSlide .itm02 {
        background: url(../img/main02_mo.jpg)no-repeat center center/cover;
    }

    .mainVisual .mainSlide .itm03 {
        background: url(../img/main03_mo.jpg)no-repeat center center/cover;
    }

    .mainVisual .mainSlide .itm04 {
        background: url(../img/main04_mo.jpg)no-repeat center center/cover;
    }

    .mainVisual .mainSlide .itm05 {
        background: url(../img/main05_mo.jpg)no-repeat center center/cover;
    }
}

@media only screen and (min-width: 768px) {
    .mainVisual .mainSlide .itm01 {
        background: url(../img/main01.jpg)no-repeat center center/cover;
    }

    .mainVisual .mainSlide .itm02 {
        background: url(../img/main02.jpg)no-repeat center center/cover;
    }

    .mainVisual .mainSlide .itm03 {
        background: url(../img/main03.jpg)no-repeat center center/cover;
    }

    .mainVisual .mainSlide .itm04 {
        background: url(../img/main04.jpg)no-repeat center center/cover;
    }

    .mainVisual .mainSlide .itm05 {
        background: url(../img/main05.jpg)no-repeat center center/cover;
    }
}











/* new_product slide */


.newProduct {
    padding: 30px 0 80px 0;
    background: #FBF3EB;
}

.newProduct .inner {
    display: flex;
    gap: 30px;
    width: 1300px;
    margin: 0 auto;
}

.newProduct .inner figure {
    flex: 1;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    z-index: 2;
}

.newProduct .inner figure img {
    width: 100%;
}


.newProduct .lnear_slide {
    transform: translate(0, 150%);
    font-size: 100px;
    font-weight: 900;
    color: #171C8F;
    z-index: 1;
}

@media only screen and (max-width: 768px) {



    .newProduct {
        width: auto;
        padding: 30px 0 80px 0;
        background: #FBF3EB;
    }

    .newProduct .inner {
        display: flex;
        gap: 30px;
        width: auto;
        margin: 0 auto;
    }

    .newProduct .inner figure {
        flex: 1;
        text-align: center;
        line-height: 50px;
        font-size: 20px;
        z-index: 2;
    }

    .newProduct .inner figure img {
        width: 100%;
    }


    .newProduct .lnear_slide {
        transform: translate(0, 150%);
        font-size: 100px;
        font-weight: 900;
        color: #171C8F;
        z-index: 1;
    }


}








/* mainProduct Section - Kajuha*/


.mainProduct {
    padding: 100px 0;
    background: url(../img/main_bg.jpg)no-repeat center center/cover;
    height: 1900px;

}


.mainProduct .inner {
    text-align: center;
    line-height: 30px;
    width: 1200px;
}

.mainProduct .inner h2 {
    font-size: 40px;
    font-weight: 700;
    margin: 10px 0;

}


.mainProduct .inner p {
    font-size: 15px;
    font-weight: 500;
    margin: 20px 0;

}

.mainProduct .inner a {
    font-size: 15px;
    padding: 10px 30px;
    border-radius: 10px;
    background: #33333386;
    color: #fff;

}

.mainProduct .inner a:hover {
    background: #333333d2;

}

.mainProduct .inner figure {
    margin: 50px 0;
}


.mainProduct .product {
    width: 1200px;
    display: flex;
    gap: 30px;
    margin: 0 auto;
}

.mainProduct .product img {
    width: 100%;
    transition: 0.5s;
}

.mainProduct .product .color {
    position: relative;

}

.product figure .img_box {
    overflow: hidden;

}

.product figure:hover img {
    transform: scale(1.1);
}

.mainProduct .product span {
    position: absolute;
    top: 5%;
    left: 5%;
    transform: translate(-50%, -50%);
    border-radius: 2px;
    background: #33333386;
    padding: 5px 10px;
    color: #fff;
}


.mainProduct .product i {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: #33333386;
    padding: 10px;
    color: #fff;
}


@media only screen and (max-width: 768px) {


    .mainProduct {
        padding: 100px 0;
        height: 1900px;

    }


    .mainProduct .inner {
        text-align: center;
        line-height: 30px;
        width: auto;
        padding: 0 30px;
    }

    .mainProduct .product {
        padding: 0 30px;
        width: auto;
        display: flex;
        flex-direction: column;
    }


}

/* SJ Section -Soonjung */

.sj {
    margin: -200px 0 50px 0;
    text-align: center;
}

.sj .inner {
    text-align: center;
    line-height: 30px;
    width: 1200px;

}

.sj .inner h2 {
    font-size: 40px;
    font-weight: 700;
    margin: 10px 0;

}



.sj .inner p {
    font-size: 15px;
    font-weight: 500;
    margin: 20px 0;

}

.sj .inner a {
    font-size: 15px;
    padding: 10px 30px;
    border-radius: 10px;
    background: #33333386;
    color: #fff;
}

.sj .inner a:hover {
    background: #333333d2;

}

.sj .sj_pro img {

    height: 100%;
}

.sj .sj_pro {
    display: flex;
    gap: 30px;
    width: 1200px;
    margin: 60px auto;
}

.sj_pro>div {
    flex: 1;
}


.sj .sj_pro .left {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;

}

.sj .sj_pro .left>div {
    background: rgba(240, 240, 240, 0.384);
}

.ht {
    color: rgb(94, 94, 94);
}

.id {
    font-weight: 500;
}


.sj_pro span {
    margin: 10px 0;
    display: inline-block;
    padding: 2px 30px;
    border: 1px solid #ddd;
    background: #fff;
    color: #333;


}

.sj_img_a {
    margin: 0 auto;
    position: relative;
}

.sj01-1 {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.sj_img_a:hover .sj01-1 {
    display: block;
}

.sj_img_b {
    margin: 0 auto;
    position: relative;
}

.sj02-1 {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.sj_img_b:hover .sj02-1 {
    display: block;
}


.sj_img_c {
    margin: 0 auto;
    position: relative;
}

.sj03-1 {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.sj_img_c:hover .sj03-1 {
    display: block;
}


.sj_img_d {
    margin: 0 auto;
    position: relative;
}

.sj04-1 {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.sj_img_d:hover .sj04-1 {
    display: block;
}

/* SUNJUNG SECTION RESPONSIVE DEGISN */

@media only screen and (max-width: 768px) {

    .sj {
        margin: -250px 0 50px 0;
        text-align: center;
        background: url(../img/sj01.jpg) no-repeat center center/cover;
    }

    .sj .inner {
        padding: 100px 0;
        text-align: center;
        line-height: 30px;
        width: auto;

    }


    .sj .sj_pro {
        display: flex;
        flex-direction: column;

        gap: 30px;
        width: auto;
        margin: 60px auto;
    }

    .sj .sj_pro .right {
        display: none;
    }


}


/* Whatsnew section */
/* Whatsnew txt */

.whatsnew {
    padding: 100px 0;
    background: url(../img/whatsnew-bg.jpg)no-repeat center center/cover;
    height: 900px;

}


.whatsnew .inner {
    text-align: center;
    line-height: 30px;
    width: 1200px;
}


.whatsnew .inner a:hover {
    background: #333333d2;

}

.whatsnew .inner h2 {
    font-size: 40px;
    font-weight: 700;
    margin: 20px 0;

}


.whatsnew .inner p {
    font-size: 15px;
    font-weight: 500;
    margin: 30px 0;

}

.whatsnew .inner a {
    font-size: 15px;
    padding: 10px 30px;
    border-radius: 10px;
    background: #33333386;
    color: #fff;

}


.wn_slide {
    margin: 0 -15px 20px -15px;
}


.wn_slide figure {
    border: 1px solid #ddd;
    margin: 40px 15px;
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    backdrop-filter: blur(10px);
}

.whatsnew .arrows i {
    position: absolute;
    left: 50%;
    top: 63%;

    transform: translate(-50%, -50%);
    font-size: 30px;
    padding: 15px;
    color: #333;
}


.whatsnew .arrows i:first-child {
    margin: 0 0 0 -650px;
}

.whatsnew .arrows i:last-child {
    margin: 0 0 0 650px;
}


.wn_slide span {
    margin: 10px 0;
    display: inline-block;
    padding: 2px 30px;
    border: 1px solid #ddd;
    background: #fff;
    color: #333;


}

/* Whatsnew section  MOBILE DESIGN*/
@media only screen and (max-width: 768px) {

    .whatsnew .inner {
        text-align: center;
        line-height: 30px;
        width: auto;
    }

    .wn_slide {
        margin: 0 -15px 20px -15px;
        padding: 0 30px;
    }


    .wn_slide figure {
        border: 1px solid #ddd;
        margin: 40px 15px;
        text-align: center;
        border-radius: 5px;
        overflow: hidden;
        backdrop-filter: blur(10px);
    }

    .whatsnew .arrows i:first-child {
        margin: 0 0 0 -300px;
    }

    .whatsnew .arrows i:last-child {
        margin: 0 0 0 300px;
    }
}











/* sns section */

.sns {
    padding: 100px 0;
    background: linear-gradient(90deg, #ffffff 0%, #ffffff 70%, #F5E2E2 70%);
    border-bottom: 1px solid #cfcfcf;

}

.sns .inner {
    display: flex;
    width: 1200px;
}

.sns .inner>div {
    flex: 1;
}

.sns .right {
    position: relative;

}

.sns .right .tito {
    position: relative;
    display: flex;
    gap: 10px;
}

.sns .right h2 {
    writing-mode: vertical-rl;
    font-size: 30px;
    font-weight: 100;
}


.sns .right i {
    position: absolute;
    top: 30%;
    left: 33%;
    font-size: 50px;
    color: #fff;
}

.sns .right strong {
    position: absolute;
    font-size: 30px;
    font-weight: 100;
    margin: 10px 0;
    text-align: end;
    left: 26%;

}

.bold {
    font-weight: 700;
}


.sns .left {
    width: 50%;
}

.sns .left h2 {
    font-size: 30px;
    font-weight: 100;
    margin: 30px 0;
}

.sns .left .link {
    writing-mode: vertical-lr;
    margin: 0 0 0 550px;
}

.sns .link i {
    font-size: 40px;
    margin: 10px 0;
    color: #333;
}


/* Whatsnew section  MOBILE DESIGN*/

@media only screen and (max-width: 768px) {


    .sns .inner {
        display: flex;
        flex-direction: column;
        width: auto;
    }

    .sns .inner>div {
        flex: 1;
    }

    .sns .right {
        position: relative;

    }

    .sns .right .tito {
        position: relative;
        display: flex;
        gap: 10px;
    }

    .sns .right h2 {
        writing-mode: vertical-rl;
        font-size: 30px;
        font-weight: 100;
    }


    .sns .right i {
        position: absolute;
        top: 30%;
        left: 33%;
        font-size: 50px;
        color: #fff;
    }

    .sns .right strong {
        position: absolute;
        font-size: 30px;
        font-weight: 100;
        margin: 10px 0;
        text-align: end;
        left: 26%;

    }

    .bold {
        font-weight: 700;
    }


    .sns .left {
        width: 50%;
    }

    .sns .left h2 {
        font-size: 30px;
        font-weight: 100;
        margin: 30px 0;
    }

    .sns .left .link {
        writing-mode: vertical-lr;
        margin: 0 0 0 550px;
    }

    .sns .link i {
        font-size: 40px;
        margin: 10px 0;
        color: #333;
    }

}










/* News&Event section */

.news {
    margin: 100px 0;
    text-align: center;
}

.news .inner {
    line-height: 30px;
    width: 1200px;
}

.news h2 {
    font-size: 40px;
    font-weight: 700;
    margin: 40px 0;
}

.news a {
    font-size: 15px;
    padding: 10px 30px;
    border-radius: 10px;
    background: #33333386;
    color: #fff;

}

.news a:hover {
    background: #333333d2;
}

.news figure {
    position: relative;

}


.news_slide .img_box01 {
    height: 360px;
    background: linear-gradient(0.87deg, rgba(0, 0, 0, 0.4) 1.04%,
            rgba(0, 0, 0, 0.4) 1.04%,
            rgba(0, 0, 0, 0.4) 1.04%,
            rgba(0, 0, 0, 0) 31.73%),
        url(../img/news01.jpg);
    background-size: cover;
}

.news_slide .img_box02 {
    height: 360px;
    background: linear-gradient(0.87deg, rgba(0, 0, 0, 0.4) 1.04%,
            rgba(0, 0, 0, 0.4) 1.04%,
            rgba(0, 0, 0, 0.4) 1.04%,
            rgba(0, 0, 0, 0) 31.73%),
        url(../img/news02.jpg);
    background-size: cover;
}

.news_slide .img_box03 {
    height: 360px;
    background: linear-gradient(0.87deg, rgba(0, 0, 0, 0.4) 1.04%,
            rgba(0, 0, 0, 0.4) 1.04%,
            rgba(0, 0, 0, 0.4) 1.04%,
            rgba(0, 0, 0, 0) 31.73%),
        url(../img/news03.jpg);
    background-size: cover;
}

.news_slide .img_box04 {
    height: 360px;
    background: linear-gradient(0.87deg, rgba(0, 0, 0, 0.4) 1.04%,
            rgba(0, 0, 0, 0.4) 1.04%,
            rgba(0, 0, 0, 0.4) 1.04%,
            rgba(0, 0, 0, 0) 31.73%),
        url(../img/news04.jpg);
    background-size: cover;
}

.news span {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    color: #fff;
    font-weight: 500;
}

.news_slide {
    margin: 40px -15px 20px -15px;

}

.news_slide figure {
    margin: 0 15px;
}

.news .arrows i {
    position: absolute;
    left: 50%;
    top: 70%;

    transform: translate(-50%, -50%);
    font-size: 30px;
    padding: 15px;
    color: #333;
}

.news .arrows i:first-child {
    margin: 0 0 0 -650px;
}

.news .arrows i:last-child {
    margin: 0 0 0 650px;
}




/* toTop */


#toTop {
    position: fixed;
    bottom: 30px;
    right: 30px;

    display: none;
}

#toTop i {
    background: #fff;
    color: #666666;
    border-radius: 50%;
    border: 1px solid #ddd;
    font-size: 20px;
    padding: 15px;
}


/* footer */

#footer {
    color: #606060;
    padding: 50px 0;
    background: #f7f7f7;
}

#footer .top>ul {
    display: flex;
    justify-content: space-between;
}


#footer .bottom>div {
    flex: 2;
}

#footer .bottom {
    display: flex;
    margin: 50px 0;
    line-height: 28px;
}

#footer .copy {
    display: flex;
    justify-content: space-between;
}

#f_link {
    border: 1px solid #ddd;
    outline: none;
    padding: 5px 10px;
    background: #fff;
    border: 1px solid #ddd;
}

#f_link option {
    padding: 5px 20px;
}